.row {
  display: flex;
  flex-direction: row;
  margin: 0px;
}

.col-sm-6 .Dictionary-container,
.Photos-container {
  /* box-sizing: border-box; */
  padding: 0px;
  width: 50%;
}

.Dictionary-container {
  padding-left: 60px;
  min-height: 100vh;
  background: linear-gradient(
    to right bottom,
    #fad4ce,
    #f9d6d6,
    #f8d9dc,
    #f6dce2,
    #f3dfe7,
    #f2dbe7,
    #f0d7e8,
    #ecd3ea,
    #e6c7eb,
    #ddbced,
    #d0b3f1,
    #bfaaf6
  );
  border: 5px solid;
}

.Dictionary-container h1 {
  margin-top: 60px;
  margin-bottom: 0px;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 500;
}

.Dictionary-container .Dictionary-form {
  margin: 28px 0px 0px;
}

.Dictionary-container .Dictionary-form .Dictionary-search-bar {
  background-color: #fff1e8;
  box-shadow: 6px 6px rgba(0, 0, 0, 1);
  border: 3px solid black;
  height: 50px;
}

.Dictionary-container .Dictionary-form input[type="search"] {
  padding-left: 20px;
  color: #757575;
  border: 3px solid black;
  font-size: 18px;
}

.Dictionary-container .Dictionary-form input::placeholder {
  text-transform: uppercase;
}

.Dictionary-container .Dictionary-form .Dictionary-search-btn {
  background-color: #f87850;
  box-shadow: 6px 6px rgba(0, 0, 0, 1);
  border: 3px solid;
  font-size: 18px;
  margin-left: 12px;
  height: 50px;
  text-transform: uppercase;
  transition: 500ms all ease-in-out;
}

.Dictionary-container .Dictionary-form .Dictionary-search-btn:hover {
  background-color: #d2569e;
  text-decoration: none;
}

@media (max-width: 576px) {
  .row {
    margin: 0px;
  }

  .Dictionary-container {
    min-height: 100%;
    border-bottom: none;
  }

  .Dictionary-container .Dictionary-form .Dictionary-search-btn {
    margin: 20px 0px 0px 10px;
    width: 75%;
    height: 40px;
  }

  .Dictionary-container .Dictionary-form .Dictionary-search-bar {
    margin-left: 10px;
  }
}
